<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.intentfiltertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitytoStart"
            android:label="@string/title_activity_activityto_start"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="StartAnotherActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data
                    android:scheme="https"
                    android:host="www.baidu.com"
                    android:port="80"/>
                    //android:path="/android"


            </intent-filter>
        </activity>
    </application>

</manifest>